@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/poppins-regular-webfont.woff2") format("woff2"),
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Poppins', 'Verdana', 'Arial';
  font-size:15px;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 25px;
}

figure{
  margin: 0px;
}

a{
  color: #1e9aed;
  text-decoration: none;
}

a:hover{
  color: rgb(28, 120, 181);
}